style(type="text/css").
  .text__underline {
    text-decoration: underline;
  }
  .text__bold {
    font-weight: bold;
  }



h2.text__bold
    | Thank you for your order!

h3.text__underline
    | ORDER CONFIRMATION NUMBER: 
h3
    | #{id}
 
p     
    | Hi #{name},
p   
    | Your order has been placed. Once your package ships, we will send you an email with a tracking number
    | so you can track your order. 

p   
    | If you have any questions contact us here ______ or leave us a message with your contact information through
    | the contact us page on our website. We are here to help! 

p
    | Thank you,
    | BryceWalbornCeramics.com 
