style(type="text/css").
  .text__underline {
    text-decoration: underline;
  }
  .text__bold {
    font-weight: bold;
  }



h2.text__bold
    | ORDER HAS BEEN PLACED

h3.text__underline.text__bold
    | ORDER INFORMATION: 
h3
    | #{id}
h3
    | #{name}
h3
    | #{email}
h3
    | #{address}
 
p     
    | Hi Bryce,
p   
    | An order has been placed on your site. Send out ASAP!

p   
    | Update the order section of your site when package is shipped and provide
    | tracking info for the customer as soon as it ships.

p
    | Thank you,
    | BryceWalbornCeramics.com 
